@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h5>Welcome to the party management App!</h5>
    <p>Manage my <a asp-controller="Party" asp-action="GetAllParties">parties</a> or <a asp-controller="Party" asp-action="AddPartyRequest">add a new party</a>.</p>
</div>
